Source: gps303
Maintainer: Eugene Crosser <crosser@average.org>
Section: misc
Priority: optional
Standards-Version: 4.5.1
X-Python-Version: >= 3.6
Homepage: http://www.average.org/gps303
Build-Depends: debhelper-compat (= 12),
 dh-python,
 python3-all,
 python3-setuptools,
 python3-zmq,

Package: python3-gps303
Architecture: all
Section: python
Depends: ${misc:Depends},
         ${python3:Depends}
Description: Suite of modules to collect reports from xz303 GPS trackers
