[Unit]
Description=Timer For GPS303 OpenCellID Download Service
Requires=gps303.ocid-dload.service

[Timer]
Unit=gps303.ocid-dload.service
OnCalendar=Weekly

[Install]
WantedBy=timers.target
