[Unit]
Description=GPS303 support suite
Requires=gps303.collector.service \
        gps303.storage.service \
        gps303.termconfig.service \
        gps303.lookaside.service
After=gps303.collector.service \
      gps303.storage.service \
      gps303.termconfig.service \
      gps303.lookaside.service

[Install]
WantedBy=multi-user.target
