[Unit]
Description=GPS303 Termconfig Service
PartOf=loctrkd.target

[Service]
Type=simple
EnvironmentFile=-/etc/default/loctrkd
ExecStart=python3 -m loctrkd.termconfig $OPTIONS
KillSignal=INT
Restart=on-failure
StandardOutput=journal
StandardError=inherit
User=loctrkd
Group=loctrkd

[Install]
WantedBy=loctrkd.target
